<footer class='container'>
  <span
    >created by <a href='https://github.com/diogofgomespinheiro' target='_blank'
      >diogofgomespinheiro
    </a> - <a href='https://devchallenges.io' target='_blank'
      >devChallenges.io
    </a>
  </span>
</footer>
<style>
  .container {
    padding: 1.5rem 0;
    text-align: center;
    color: #828282;
    font-weight: 500;
  }

  .container a {
    font-weight: 700;
    transition: filter 0.2s;
  }

  .container a:hover {
    font-weight: 700;
    filter: brightness(0.8);
  }
</style>
